In [14]:
#Week1 - Practice Hands on Quizzes - Python for Data Science

#Python Basics - Start

x=y=z=1

print(x+y+z)

a='Great'
b= 'Learning'
b = a
print(b)


type(b)

S= 'Great Learning'
print('substr 1',S[:5])
print('substr 2',S[:5])
print('substr 3',S[5])
print('substr 4',S[:])

l = [2,3]
lst = [1, 'Jai', 2, 3.0, l ]
print(lst)

s = int(input())
print(type(s))

#End - Python Basics - Start

3
Great
substr 1 Great
substr 2 Great
substr 3
substr 4 Great Learning
[1, 'Jai', 2, 3.0, [2, 3]]
2
<class 'int'>

In [31]:
#numpy quiz

import numpy as np
a = np.array([1, 10, 2, 0])
np.power(a, 2)


b = np.array([['m', 'l'], ['n', 'o']])
print(b[0,1]) # first element is for the array and second index of the


arr = np.arange(10)
np.hsplit(arr, 2)

#np.vsplit(arr, 2) it works on arrays of 2 or more dimensions

arr2 = np.arange(6)
arr1 = np.array([1,0,0,1,0])
print(arr2)
print(arr2.shape)
print(arr1.shape)
arr1 + arr2

l
[0 1 2 3 4 5]
(6,)
(5,)

ValueError: operands could not be broadcast together with shapes (5,) (6,)

In [56]:
#From this section the code loads the CSV file


from google.colab import drive
drive.mount('/content/drive')

import os
file_dir = os.getcwd()+'/drive/MyDrive/adsp_laiedm/week_1_py_for_ds/week1-practice-hands-on-quizzes'

import pandas as pd
df = pd.read_csv(file_dir+'/Dateset_ODI+-+Dateset_ODI.csv')

df.info()

df.head()

#dataframe method to find the missing values in the df
df.isnull().sum()

#dataframe method to show the missing values in Margin columns
df[df['Margin'].isnull()]


#check the 50th row of the dataframe
df.iloc[[50]]

#How many matches were played in Devonport ground
#df[df['Ground'] == 'Devonport'].count()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3932 entries, 0 to 3931
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Scorecard   3932 non-null   object
 1   Team 1      3932 non-null   object
 2   Team 2      3932 non-null   object
 3   Winner      3932 non-null   object
 4   Margin      3753 non-null   object
 5   Ground      3932 non-null   object
 6   Match Date  3932 non-null   object
dtypes: object(7)
memory usage: 215.2+ KB

Scorecard     1
Team 1        1
Team 2        1
Winner        1
Margin        1
Ground        1
Match Date    1
dtype: int64

In [63]:
devonport_matches = df[df['Ground'] == 'Devonport']
num_devonport_matches = len(devonport_matches)
print(num_devonport_matches)

1

In [64]:
df.head()

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
0,ODI # 1,Australia,England,Australia,5 wickets,Melbourne,"Jan 5, 1971"
1,ODI # 2,England,Australia,England,6 wickets,Manchester,"Aug 24, 1972"
2,ODI # 3,England,Australia,Australia,5 wickets,Lord's,"Aug 26, 1972"
3,ODI # 4,England,Australia,England,2 wickets,Birmingham,"Aug 28, 1972"
4,ODI # 5,New Zealand,Pakistan,New Zealand,22 runs,Christchurch,"Feb 11, 1973"

In [65]:
aussie_winners = df[df['Winner'] == 'Australia']
print(len(aussie_winners))

555

In [66]:
team2_winners = df[df['Winner'] == df['Team 2']]
print(len(team2_winners))

1637